.container
  script src="http://d3js.org/d3.v3.min.js" 
  script src="/javascript/d3.cloud.js" 
  script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"
  div.row
    .col-md-4
      .form-group
        label for="sel"  選擇日子:
        select#sel.form-control
          -@time_key.each_index do |i|
            option.date-option value="#{@time_key[i]}" "#{@time_key[i]}"    
  div.row
    h1 熱門關鍵字
    div.hot_keyword style="background: white; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 1px solid #eee;"
  div.row
    h1 熱門種類
    div.hot_cate style="background: white; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 1px solid #eee;"
    
      javascript:
        var processed_key = {};
        var processed_cate = {};
        
        $('.date-option').click(function() {
            console.log($(this).val());
            console.log(processed_key[$(this).val()]);
            genWordCloud(JSON.parse(processed_key[$(this).val()]), '.hot_keyword');
            genWordCloud(JSON.parse(processed_cate[$(this).val()]), '.hot_cate');
          });
        
        $.ajax({
          url: "/hotcloudkey",
          type: "GET",
          dataType: "json",
          success: function(response) {
            console.log(response);
            tmpRes = JSON.parse(response);
            processed_key = {};
            for (var i = 0, len = tmpRes.length; i < len; i++) {
              processed_key[tmpRes[i].time.split(' ')[0]] = tmpRes[i].key;
            }
            console.log(processed_key);
            $('.date-option').click();
          },
          error: function(response) {
            console.log(response);
            alert("ERROR!!!");
          },
        });
        
        $.ajax({
          url: "/hotcloudcate",
          type: "GET",
          dataType: "json",
          success: function(response) {
            console.log(response);
            tmpRes = JSON.parse(response);
            processed_cate = {};
            for (var i = 0, len = tmpRes.length; i < len; i++) {
              processed_cate[tmpRes[i].time.split(' ')[0]] = tmpRes[i].cate;
            }
            console.log(processed_cate);
            $('.date-option').click();
          },
          error: function(response) {
            console.log(response);
            alert("ERROR!!!");
          },
        });
        
        function genWordCloud(freqList, selector){
          var realFreqList = [];
          $(selector).html('');
          $(selector).html('');
          for(var ele in freqList) {
            realFreqList.push({'text': ele, 'size': freqList[ele]*10});
          }
          console.log(freqList);
          var frequency_list = realFreqList;
          var getRandomColor = function(){
            return  '#' +
              (function(color){
              return (color +=  '0123456789abcdef'[Math.floor(Math.random()*16)])
                && (color.length == 6) ?  color : arguments.callee(color);
            })('');
          }
          
          var color = d3.scale.linear()
                  .domain([0,1,2,3,4,5,6,10,15,20,100])
                  .range(color);
        
          d3.layout.cloud().size([800, 300])
                  .words(frequency_list)
                  .rotate(0)
                  .fontSize(function(d) { return d.size; })
                  .on("end", draw)
                  .start();
        
          function draw(words) {
              d3.select(selector).append("svg")
                      .attr("width", 850)
                      .attr("height", 350)
                      .attr("class", "wordcloud")
                      .append("g")
                      .attr("transform", "translate(320,200)")
                      .selectAll("text")
                      .data(words)
                      .enter().append("text")
                      .style("font-size", function(d) { return d.size + "px"; })
                      .style("fill", function(d, i) { return color(i); })
                      .attr("transform", function(d) {
                          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                      })
                      .text(function(d) { return d.text; });
          }
        }
      

            
            
            
            
            
            
        
        
        
        
        
        
