nav.navbar.navbar-default.navbar-fixed-top role="navigation"
      .container
        .navbar-header
          button.navbar-toggle data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
             span.sr-only Toggle navigation
             span.icon-bar
             span.icon-bar
             span.icon-bar
          a.navbar-brand href="/" <i class="ion-bag"></i> Smartibuy!
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            <!-- Groups -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-ios-list-outline"></i> 賣場列表<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header"><i class="ion-android-list"></i> 北部拍賣</li>
                <li><a href="/product/1049467665068019" data-id="952367224814302">桃竹苗跳蚤市場</a></li>
                <li><a href="/product/107793636088378" data-id="107793636088378">新竹二手跳蚤市場</a></li>
                <li><a href="/product/1049467665068019" data-id="1049467665068019">桃園中壢買賣</a></li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header"><i class="ion-android-list"></i> 南部拍賣</li>
                <li><a href="/product/144498012423141" data-id="144498012423141">大台南二手交流、買賣公開社團</a></li>
                <li><a href="/product/1603205203255905" data-id="1603205203255905">高雄二手買賣交流團</a></li>
                <li><a href="/product/373766972786317" data-id="373766972786317">高屏區二手買賣</a></li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header"><i class="ion-android-list"></i> 各大學拍賣</li>
                <li><a href="/product/817620721658179" data-id="817620721658179">清交二手貨倉</a></li>
                <li><a href="/product/1491972361082561" data-id="1491972361082561">中教大二手買賣市場</a></li>
                <li><a href="/product/191505604299442" data-id="191505604299442">交大二手大賣場</a></li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header"><i class="ion-android-list"></i> 其他拍賣</li>
                <li><a href="/product/1730742887066429" data-id="1730742887066429">二手智慧型手機, 平板交流</a></li>
                <li><a href="/product/288612161307331" data-id="288612161307331">二手單眼, 鏡頭, 周邊交換買賣</a></li>
              </ul>
            </li>

            <!-- Category -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-ios-list-outline"></i> 好物分類<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/mobile01/電腦資訊">電腦資訊</a></li>
                <li><a href="/mobile01/手持通訊">手持通訊</a></li>
                <li><a href="/mobile01/攝影器材">攝影器材</a></li>
                <li><a href="/mobile01/數位家電">數位家電</a></li>
                <li><a href="/mobile01/休閒娛樂">休閒娛樂</a></li>
                <li><a href="/mobile01/生活用品">生活用品</a></li>
                <li><a href="/mobile01/汽車">汽車</a></li>
                <li><a href="/mobile01/機車">機車</a></li>
                <li><a href="/mobile01/自行車">自行車</a></li>
                <li><a href="/mobile01/男性時尚">男性時尚</a></li>
                <li><a href="/mobile01/女性流行">女性流行</a></li>
                <li><a href="/mobile01/代購與虛擬物品">代購與虛擬物品</a></li>
                <li><a href="/mobile01/房屋地產">房屋地產</a></li>
              </ul>
            </li>

            <li class="">
              <a href='/hashtag'> <i class="ion-ios-pricetags"></i> 好物標籤 </a>
            </li>

            <!-- Category -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-ios-list-outline"></i> 登入/登出<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><a href="/user" class="user-info-btn"><i class="ion-person"></i> 您的帳號</a></a></li>
                <li><a class="fb-login-btn" data-status="logout"></a></li>
              </ul>
            </li>



            <li class="">
              <button type="button" class="btn btn-danger navbar-btn"><i class="ion-stats-bars"></i> 好物趨勢</button>
            </li>

            <form class="navbar-form navbar-left col-md-1" role="search" action='/search/1' method="get">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="找好物 :)" name='keyword'>
                <span class="input-group-btn">
                  <button class="btn btn-info" type="summit"><i class="ion-search"></i></button>
                </span>
              </div><!-- /input-group -->
            </form>
